<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sw5elogotasawork"
        android:label="@string/title_activity_SW5ECompanionApp"
        android:roundIcon="@mipmap/sw5elogotasawork_round"
        android:supportsRtl="true"
        android:theme="@style/BlackStatusBar"
        tools:targetApi="31">
        <activity
            android:name=".equipment.EquipmentInfo"
            android:exported="false" />
        <activity
            android:name=".SW5ECompanionApp"
            android:exported="true"
            android:theme="@style/BlackStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".species.SpeciesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".forcecasting.ForcecastingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.equipmentadapterstuff.EquipmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.AllActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.AdvGearActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.ArmourActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.WeaponsActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.EquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".classes.ScoutActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.ScholarActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.OperativeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.MonkActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.GuardianActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.EngineerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.SentinelActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.FighterActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.ConsularActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.BerserkerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.SpeciesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.ClassesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="true"
            android:label="@string/title_activity_classes"
            android:theme="@style/BlackStatusBar" />
        <activity
            android:name=".forcecasting.ForcecastingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/BlackStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>