<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/sw5elogotasawork"
        android:label="@string/title_activity_SW5ECompanionApp"
        android:roundIcon="@mipmap/sw5elogotasawork_round"
        android:supportsRtl="true"
        android:theme="@style/BlackStatusBar"
        tools:targetApi="31">
        <activity
            android:name=".SW5ECompanionApp"
            android:exported="true"
            android:theme="@style/BlackStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".species.SpeciesDetailsActivity"
            android:exported="false"/>

        <activity
            android:name=".forcecasting.ForcecastingDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".equipment.equipmentadapterstuff.EquipmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.AllActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.AdvGearActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.ArmourActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.WeaponsActivity"
            android:exported="false" />
        <activity
            android:name=".EquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".species.BithActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.BothanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.CatharActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.CereanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.ChissActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DevaronianActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DroidClass1Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DroidClass2Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DroidClass3Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DroidClass4Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DroidClass5Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.DurosActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.EwokActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.GamorreanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.GunganActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.HumanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.IthorianActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.JawaActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.KelDorActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.MonCalamariActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.NautolanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.RodianActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.SithPurebloodActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.TogrutaActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.TrandoshanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.TuskenActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.TwilekActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.WeequayActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.WookieActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".species.ZabrakActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.ScoutActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.ScholarActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.OperativeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.MonkActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.GuardianActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.EngineerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.SentinelActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.FighterActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.ConsularActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".classes.BerserkerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".SpeciesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".ClassesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden"
            android:exported="true"
            android:label="@string/title_activity_classes"
            android:theme="@style/BlackStatusBar" />
        <activity
            android:name=".ForceCastingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/BlackStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>